.b-about-festival {

  p { margin-top: 0; }

  &__top {
    .bottom {
      justify-content: flex-start;
      margin-bottom: vw(30px);

       .description {
         flex: 1 0 auto;
         margin-left: vw(150px);
       }
    }

    .with-image {
      .image {
        width: vw(150px);
        padding-top: 22%;
        float: right;
        background: image_url('b-about/kaliningrad.svg') no-repeat center;
        background-size: 100% 100%;
      }
      .about { width: 85%; }
      .description {
        padding-right: 10%;
      }
    }
  }

  &__bottom {
    padding: vw(80px) vw(60px) vw(80px) vw(50px);
    background: #1A1A1A;

    .headline {
      margin-bottom: vw(40px);
    }

    .cinema-info {
      overflow: hidden;
      @include font-set(vw(24px), vw(32px), $rubik-light);

      .image {
        float: right;
        margin-left: vw(80px);
        width: vw(174px);
        padding-top: 27%;
        background: image_url('b-about/poster.png') no-repeat center / contain;
      }
    }

    .trailer {
      .title {
        margin-bottom: vw(30px);
        font-family: $play-font;
        @include font-set(vw(24px), vw(32px), $play-italic-black);
        font-style: italic;
      }

      .video {
        width: 72%;
        padding-top: 42%;

        > iframe {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
