.b-council {
  padding-top: vw(45px);
  padding-bottom: vw(120px);
  background: #fff;
  color: #000;

  @include media($tablet) {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  @include media($mobile) {
    padding-bottom: 30px;
  }

  .headline {
    margin-bottom: vw(40px);
    line-height: vw(51px);

    @include both {
      top: vw(28px);
    }

    @include media($tablet) {
      margin-bottom: 30px;
      line-height: vw(40px);

      @include both { top: vw(22px); }
    }

    @include media($mobile) {
      line-height: 32px;

      @include both {
        content: none;
      }
    }
  }

  .b-members {
    &__person {
      margin-bottom: vw(-20px);
    }
  }
}
