.b-council {
  padding-top: vw(45px);
  padding-bottom: vw(120px);

  background: #fff;
  color: #000;

  .headline {
    margin-bottom: vw(40px);
    line-height: vw(51px);
    @include both { top: vw(28px); }
  }

  &__persons {
    margin-left: vw(50px);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__person {
    flex: 0 0 25%;
    margin-bottom: vw(-20px);
    color: #000;

    > .image {
      overflow: hidden;
      width: vw(120px);
      height: vw(120px);
      border-radius: 50%;
      background: image_url('fakes/person1.jpg') no-repeat center / cover;
    }

    > .name {
      width: 70%;
      margin: vw(12px) 0 0 vw(10px);
      font-family: $play-font;
      @include font-set(vw(20px), vw(27px), $play-italic-bold);
      font-style: italic;
    }

    >.info {
      margin: vw(8px) 0 0 vw(10px);
      padding-right: vw(60px);
      @include font-set(vw(14px), vw(20px), $rubik-light);
    }
  }
}
