.b-contacts {
  padding: vw(50px) vw(75px);

  .headline {
    margin-bottom: vw(40px);
  }

  &__list {
    margin-bottom: vw(55px);
    display: flex;
    justify-content: space-between;
  }

  &__column {
    &.column1,
    &.column2 { flex: 0 0 30% }
    &.column3 { flex: 0 0 40% }
  }

  &__item {
    margin-bottom: vw(30px);

    > .name {
      margin-bottom: vw(10px);
      @include font-set(vw(20px), vw(27px), $rubik-regular);
    }

    > .role {
      margin-bottom: vw(10px);
      @include font-set(vw(14px), vw(20px), $rubik-light);
    }

    > .email {
      @include hover-link(#D9222A);

    }

    .column1 &:first-child {
      margin-bottom: vw(62px);
    }
  }


  &__volunteers {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > .information {
      flex: 0 0 42%;
      margin-right: 10%;

      > .text {
        margin-bottom: vw(20px);
        @include font-set(vw(15px), vw(22px), $rubik-light);
      }
      .need-know {
        @include font-set(vw(20px), vw(24px), $rubik-regular);
      }
      > .list {
        padding: 0;
        margin: vw(20px) 0 0 vw(20px);

        > li {
          position: relative;
          margin-top: vw(12px);
          @include font-set(vw(14px), vw(20px), $rubik-light);

          @include before {
            z-index: 2;
            @include absolute(vw(3px) false false vw(-20px));
            width: vw(10px);
            height: vw(10px);
            background: asset_data_url('icons/list_star.svg') no-repeat center / cover;
          }
        }
      }
    }

    > .form {
      flex: 0 0 48%;
      padding: vw(24px) vw(30px) vw(30px);
      border: vw(3px) dashed rgba(#fff, .2);
    }
  }
}
