@import "import/base";

.b-festival-stage {
  //padding-top: 61.5%;
  height: 100vh;
  background: image_url('b-welcome/stage_works.jpg') no-repeat center / cover;

  @media screen and (max-width: 900px) {
    height: auto;
    padding-top: 60%;
  }

  &:after {
    z-index: 1;
    content: '';
    @include absolute(0 0 0 0);
    background: rgba(#000, .35);
  }

  .container {
    z-index: 2;
    @include absolute(0 0 0 0);
  }

  .action-section {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  .send-work {
    bottom: 45px;
    .info {
      margin-top: 20px;
      @include font-set(16px, 21px, $play-italic);
      font-family: $play-font;
      font-style: italic;
    }
  }

  .report-video {
    top: 50%;
    transform: translateY(-50%);
    .play-video {
      display: inline-block;
      width: 70px;
      height: 70px;
      background: asset_data_url('icons/play.svg') no-repeat center;
      background-size: 70px;
      cursor: pointer;
    }

    .info {
      margin-top: 10px;
      @include font-set(20px, 27px, $rubik-bold);
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }

  &.show-now {
    height: auto;
    min-height: 460px;

    &:after { background: rgba(#000, .6); }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}


.b-schedule {
  margin: 0 0 40px 100px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;

    .time {
      position: absolute;
      right: 100%;
      top: 2px;
      padding-right: 10px;
      font-style: italic;
      font-family: $play-font;
      @include font-set(14px, 16px, $play-italic-black);
    }

    .name {
      @include font-set(15px, 22px, $rubik-light);
    }

    .place {
      margin-left: 14px;
      @include font-set(13px, 16px, $rubik-light);
      color: rgba(#fff, .7);
    }
  }

  .g-button { margin-top: 5px; }
}



.b-name {
  @include absolute(35px false false 50px);
  width: 373px;
  @include font-set(38px, 51px, $play-italic);
  font-style: italic;
  font-family: $play-font;

  > b { font-weight: $play-italic-black; }

  .show-now & { left: 100px; }
}

.b-place {
  @include absolute(35px 48px false false);

  .year {
    margin-bottom: -8px;
    @include font-set(70px, 83px, $rubik-light);
    letter-spacing: 1px;
  }

  .date {
    @include  font-set(30px, 36px, $rubik-regular);
  }

  .city {
    @include font-set(24px, 32px, $play-italic-bold);
    font-family: $play-font;
    font-style: italic;
    letter-spacing: 1px;
  }
}