.b-news {
  padding: vw(75px) 0 vw(80px);

  @include media($tablet) {
    padding: 50px 0;
  }

  .headline {
    margin: 0 auto vw(40px);

    @include media($mobile) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    overflow: hidden;
    position: relative;
    flex: 0 0 33.3%;
    display: flex;
    flex-direction: column;
    color: #fff;

    @include before {
      opacity: 0;
      visibility: hidden;
      z-index: 2;
      @include absolute(0 0 0 0);
      border: 4px solid $c-red;
      transition: all .15s ease;
    }

    @include media($mobile) {
      flex: 1 0 100%;
    }

    .image {
      overflow: hidden;
      font-size: 0;

      > img {
        width: 100%;
        vertical-align: top;
      }

      > .image-cover {
        z-index: 1;
        @include absolute(0 0 0 0);
        transition: all .2s ease;
        background: center no-repeat;
        background-size: cover;
      }
    }

    .text {
      flex: 1 0 auto;
      padding: vw(15px) vw(20px);
      @include font-set(vw(15px), vw(21px), $rubik-light);
      letter-spacing: vw(0.1px);

      @include media($tablet) {
        padding: 15px 11px 12px 15px;
        font-size: 13px;
      }
    }

    .share-block {
      display: flex;
      align-items: center;
      padding-left: vw(20px);
      height: vw(42px);
      line-height: vw(42px);
      @include font-set(vw(13px), false, $rubik-light);
      border-top: 1px dashed rgba(#fff, .3);

      @include media($tablet) {
        padding-left: 15px;
      }

      > .icon {
        margin-left: vw(8px);
        width: vw(14px);
        height: vw(14px);
        background: asset_data_url('icons/instagram.svg') no-repeat center / contain;
      }
    }

    // временные цвета
    &:nth-child(1) { background: #34131A; }
    &:nth-child(2) { background: #2C3024; }
    &:nth-child(3) { background: #352918; }
    &:nth-child(4) { background: #A10E1B; }
    &:nth-child(5) { background: #1B1D17; }
    &:nth-child(6) { background: #0F2739; }

    &:hover {
      @include before {
        opacity: 1;
        visibility: visible;
      }

      .image-cover {
        transform: matrix(1.04,0,0,1.04,0,0);
      }
    }
  }

  .load-more {
    display: table;
    margin: vw(40px) auto 0;

    @include media($tablet) {
      margin-top: 30px;
    }
  }
}
