.b-partners {
  padding-top: 75px;

  @include media($tablet) {
    padding-top: 50px;
  }

  .headline {
    margin-bottom: vw(40px);

    @include media($mobile) {
      margin-bottom: 30px;
    }
  }

  .info-partners-title {
    margin-bottom: vw(42px);
    text-align: center;
    font-family: $play-font;
    @include font-set(vw(20px), vw(27px), $play-italic-bold);
    font-style: italic;

    @include media($mobile) {
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: vw(75px);

    @include media($mobile) {
      margin-bottom: 20px;
    }

    > a {
      opacity: .5;
      margin: 0 vw(25px);
      transition: opacity .3s ease;

      &:hover { opacity: 1; }

      @include media($tablet) {
        margin: 0 12px;
      }

      @include media($mobile) {
        margin-bottom: 30px;
      }
    }

    .stand-alone & {
      justify-content: space-between;

      > a {
        flex: 0 0 20%;
        margin: 0;
        text-align: center;
      }
    }

    &.info-partners {
      > a {
        margin-right: vw(30px);
        margin-left: vw(30px);
      }

      .stand-alone & {
        margin-bottom: vw(15px);

        > a {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: vw(45px);
        }
      }
    }
  }

  &.stand-alone {
    padding: vw(50px) vw(100px) vw(70px);
  }

  .become-partner {
    display: table;
    margin: auto;
  }
}
