.b-past-year {
  @include media($tablet) {
    padding-top: 50px;
  }

  .headline {
    margin: vw(75px) auto vw(35px);

    @include media($tablet) {
      margin: 0 auto 30px;
    }
  }

  &__media {
    display: flex;
    flex-wrap: wrap;

    &-section {
      flex: 1 0 50%;
      padding-top: 28vw;

      @include media($tablet) {
        padding-top: 36vw;
      }

      @include media($mobile) {
        flex: 1 0 100%;
        padding-top: 75vw;
      }

      .content {
        @include absolute(0 0 vw(40px) 0);
        position: absolute;

        @include media($tablet) {
          bottom: 30px;
        }
      }

      .all-materials {
        z-index: 2;
        @include absolute(false 0 0 0);
        height: vw(40px);
        padding-left: vw(20px);
        @include font-set(vw(13px), vw(40px), $rubik-regular);
        text-transform: uppercase;
        color: #fff;

        @include media($tablet) {
          height: 30px;
          line-height: 30px;
          font-size: 12px;
        }

        @include media($mobile) {
          font-size: 10px;
        }
      }

      &.videos {
        .content {
          background: image_url('fakes/fake.jpg') no-repeat center / cover;
        }

        .play-button {
          width: vw(50px);
          height: vw(37px);
          @include absolute(0 0 0 0);
          margin: auto;
          background: asset_data_url('icons/video_play.svg') no-repeat center / cover;
          cursor: pointer;
        }

        .all-materials {
          background: #870B18;
        }
      }

      &.photos {
        .image {
          position: absolute;

          &-1 {
            top: 0;
            left: 0;
            right: 50%;
            bottom: 50%;
            background: image_url('fakes/img1.jpg') no-repeat center / cover;
          }

          &-2 {
            left: 0;
            top: 50%;
            bottom: 0;
            right: 75%;
            background: image_url('fakes/img2.jpg') no-repeat center / cover;
          }

          &-3 {
            left: 25%;
            top: 50%;
            right: 50%;
            bottom: 25%;
            background: image_url('fakes/img3.jpg') no-repeat center / cover;
          }

          &-4 {
            left: 25%;
            top: 75%;
            right: 50%;
            bottom: 0;
            background: image_url('fakes/img4.jpg') no-repeat center / cover;
          }

          &-5 {
            top: 0;
            bottom: 0;
            right: 0;
            left: 50%;
            background: image_url('fakes/img5.jpg') no-repeat center / cover;
          }
        }

        .all-materials {
          background: $c-red;
        }
      }
    }
  }
}
