.b-partners {
  padding-top: 75px;

  .headline {
    margin-bottom: vw(40px);
  }

  .info-partners-title {
    margin-bottom: vw(42px);
    text-align: center;
    font-family: $play-font;
    @include font-set(vw(20px), vw(27px), $play-italic-bold);
    font-style: italic;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: vw(75px);

    > img {
      margin: 0 vw(25px);
    }

    &.info-partners {
      > img {
        margin: 0 vw(30px);
      }
    }
  }
}
