.b-quote {
  padding: vw(45px) vw(100px) vw(50px) vw(90px);
  background: image_url('b-quote/quote_bg.jpg') no-repeat center / cover;
  background-attachment: fixed;

  @include media($tablet) {
    padding: 40px 60px;
    background-attachment: scroll;
  }

  @include media($mobile) {
    padding: 30px 15px;
  }

  .headline {
    @include both {
      opacity: .5;
      background: #fff;

      @include media($mobile) {
        content: none;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: vw(80px);

    @include media($tablet) {
      margin-top: 60px;
    }

    @include media($mobile) {
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .name {
      font-family: $play-font;
      @include font-set(vw(24px), vw(32px), $play-italic-black);
      font-style: italic;

      @include media($tablet) {
        font-size: 20px;
        line-height: 26px;
      }

      @include media($mobile) {
        order: 2;
        flex: 0 0 auto;
      }
    }

    .photo {
      flex: 0 0 vw(206px);
      height: vw(206px);
      margin: 0 vw(58px);
      border: vw(6px) solid #fff;
      background: image_url('fakes/quote_author.jpg') no-repeat center / cover;
      border-radius: 50%;

      @include media($tablet) {
        flex: 0 0 156px;
        height: 156px;
        margin: 0 40px;
      }

      @include media($mobile) {
        order: 1;
        margin: 0 20px 0 0;
        height: 70px;
        flex: 0 070px;
        border-width: 3px;
      }
    }

    .message {
      @include font-set(vw(24px), vw(35px), $rubik-light);

      @include media($tablet) {
        font-size: 18px;
        line-height: 26px;
      }

      @include media($mobile) {
        order: 3;
        margin-top: 20px;
      }
    }
  }

  .load-more {
    display: table;
    margin: vw(95px) auto 0;
    padding-left: vw(40px);
    padding-right: vw(12px);

    @include media($tablet) {
      margin-top: 65px;
    }

    @include media($mobile) {
      margin-top: 30px;
    }

    @include before {
      position: absolute;
      left: vw(9px);
      top: vw(6px);
      width: vw(19px);
      height: vw(19px);
      background: asset_data_url('icons/load_more.svg') no-repeat center / cover;
    }
  }
}
