.g-button {
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: none;
  text-decoration: none;
  letter-spacing: vw(1.5px);
  @include font-set(vw(20px), vw(27px), $rubik-bold);
  transition: background-color .15s ease;

  @include media($tablet) {
    font-size: 18px;
    letter-spacing: 1.35px;
  }

  @include media($mobile) {
    font-size: 16px;
  }


  &.bordered {
    padding: vw(18px) vw(25px) vw(15px);
    border: vw(4px) solid $c-red;
    text-transform: uppercase;
    color: #fff;

    @include media($tablet) {
      padding: 11px 20px 8px;
    }

    @include media($mobile) {
      padding: 7px 12px 4px;
    }

    &:hover {
      background: $c-red;
    }
  }

  &.small {
    padding: vw(6px) vw(9px) vw(4px);
    border-width: vw(2px);
    @include font-set(vw(14px), vw(21px), $rubik-bold);
    letter-spacing: vw(1px);

    @include media($tablet) {
      padding: 5px 9px 3px;
      font-size: 12px;
    }
  }
}
