@import "import/base";

.g-button {
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: none;
  text-decoration: none;
  letter-spacing: 1.5px;
  @include font-set(20px, 27px, $rubik-bold);

  &.bordered {
    padding: 18px 25px 15px;
    border: 4px solid $c-red;
    text-transform: uppercase;
    color: #fff;
  }

  &.small {
    padding: 6px 9px 4px;

    border-width: 2px;
    @include font-set(14px, 21px, $rubik-bold);
    letter-spacing: 1px;
  }
}
