.b-about-block
  .headline.secondary
    %b О фестивале

  .top
    .about «КОРОЧЕ» — российский фестиваль короткометражного кино и самый короткий путь для молодых талантливых энтузиастов и профессионалов к ведущим продюсерским компаниям.

    = link_to '#', class: 'g-reglament-button' do
      .icon
      %span Регламент фестиваля

  .bottom
    .description Фестиваль ставит перед собой задачу поиска талантов в каждом из 83 регионов нашей страны. При современном развитии технологий любой может стать режиссером короткометражного фильма. Фестиваль «КОРОЧЕ» даст возможность продемонстрировать ваши работы элите российской киноиндустрии. Мы делаем акцент на «арт-мейнстрим», т. е. на фильмы, обладающие высоким художественным качеством и доступные максимально широкой аудитории.


