.b-council
  .headline.secondary
    %b
      Попечительский 
      %br
      совет

  .b-council__persons
    .b-council__person{ style: 'order: 1;'}
      .image
      .name Сергей Мелькумов
      .info Соучредитель продюсерской компании «СЛОВО». Основатель кинокомпании «Нон-стоп Продакшн». Продюсер нескольких десятков фильмов и сериалов.

    .b-council__person{ style: 'order: 2;'}
      .image
      .name Сергей  Сельянов
      .info Кинопродюсер, режиссёр, сценарист. Руководитель кинокомпании «СТВ».

    .b-council__person{ style: 'order: 3;'}
      .image
      .name Игорь Толстунов
      .info Создатель и глава студии «ПРОФИТ». Продюсер более 50 фильмов и сериалов.

    .b-council__person{ style: 'order: 4;'}
      .image
      .name Станислав Воскресенский
      .info Председатель  Попечительского  совета

    .b-council__person{ style: 'order: 5;'}
      .image
      .name Леонид Верещагин
      .info Продюсер, генеральный директор кинокомпании «Студия ТриТэ». Секретарь Союза кинематографистов России, член президиума Национальной академии кинематографических искусств и наук России. Лауреат Государственной премии России.

    .b-council__person{ style: 'order: 6;'}
      .image
      .name Леонид Верещагин
      .info Продюсер, генеральный директор кинокомпании «Студия ТриТэ». Секретарь Союза кинематографистов России, член президиума Национальной академии кинематографических искусств и наук России. Лауреат Государственной премии России.

    .b-council__person{ style: 'order: 7;'}
      .image
      .name Валерий Тодоровский
      .info Продюсер, сценарист и режиссёр.
