.b-festival-stage
  .container
    .b-name
      Фестиваль  короткометражного  кино
      %b «Короче»

    .b-place
      .year 2017
      .date 19-21 / 08
      .city Калиниград

    .report-video.action-section
      .play-video
      .info Смотреть отчетное видео

