.b-festival-stage.show-now
  .container
    .b-name
      Фестиваль  короткометражного  кино
      %b «Короче»

    .b-place
      .year 2017
      .date 19-21 / 08
      .city Калиниград


    .b-schedule
      .b-schedule__row
        .time Сейчас
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 22:00
        .name Премьера короткометражного фильма «Шрёдер». В главной роли: Евгений Гришковец
        .place.with-placemark Центральный парк

      = link_to 'Что дальше', '#', class: 'g-button bordered small'