.b-festival-stage
  .container
    .b-name
      Фестиваль  короткометражного  кино
      %b «Короче»

    .b-place
      .year 2017
      .date 19-21 / 08
      .city Калиниград

    .send-work.action-section
      = link_to 'Отправить фильм', '#', class: 'g-button bordered js-link-to-popup', data: { url: send_work_pages_path }
      .info
        Приём конкурсных работ 
        %br
        продлится до 20 июля 2017 года
