.b-past-year
  .headline
    Короче,
    %b как это было
    %div в прошлом году

  .b-past-year__media
    .b-past-year__media-section.videos
      .content
        .play-button
      = link_to 'Все видео 2016', '#', class: 'all-materials'

    .b-past-year__media-section.photos
      .content
        .image.image-1
        .image.image-2
        .image.image-3
        .image.image-4
        .image.image-5
      = link_to 'Все фото 2016', '#', class: 'all-materials'
