.b-quote
  .headline
    Короче,
    %b цитата

  .b-quote__block
    .name Глеб  Орлов
    .photo
    .message « Здорово, что такой важный в моей жизни фильм будет впервые показан именно здесь, в Калининграде, на моей родине! Я думаю, это большая удача и знак »

  .load-more.g-button.bordered.small ЕЩЁ
