.b-about-festival

  .b-about-festival__top.b-about-block
    .headline.secondary
      %b О фестивале

    .top
      .about «КОРОЧЕ» — российский фестиваль короткометражного кино и самый короткий путь для молодых талантливых энтузиастов и профессионалов к ведущим продюсерским компаниям.
      = link_to '#', class: 'g-reglament-button' do
        .icon
        %span Регламент фестиваля

    .bottom
      .description
        %p Фестиваль ставит перед собой задачу поиска талантов в каждом из 83 регионов нашей страны. При современном развитии технологий любой может стать режиссером короткометражного фильма. Фестиваль «КОРОЧЕ» даст возможность продемонстрировать ваши работы элите российской киноиндустрии. Мы делаем акцент на «арт-мейнстрим», т. е. на фильмы, обладающие высоким художественным качеством и доступные максимально широкой аудитории.
        %p Последние тренды в мировом кино говорят о том, что открытие новейших визионеров нашего времени происходит на стадии work-in-progress, рекламного клипа, синопсиса или короткометражного фильма. Одна из основных миссий Фестиваля — стать площадкой для взращивания талантов, своего рода «talent campus». Открыть вас, где бы вы ни находились: в Уфе, Чите или Сыктывкаре. Мы ищем вас и представим ваши работы ведущим продюсерам. Сегодня вы можете снять трехминутный фильм, завтра мы пригласим вас на Фестиваль, а послезавтра вам предложат снять большое кино. У создателей короткометражки «Район № 9» и у десятков других все произошло именно так.

    .with-image
      .image
      .top
        .about Фестиваль короткометражного кино «КОРОЧЕ» задуман как проект, призванный укрепить связи между эксклавом и Российской Федерацией.
      .bottom
        .description Калининград — это не просто эксклав с захватывающей историей и смешанными стилями в архитектуре, не только родина Канта и Гофмана, но ещё и Балтийское море, Куршская коса, песчаные дюны и 95% мировых запасов янтаря.


  .b-about-festival__bottom
    .headline
      %b «Короче» в прокат

    .cinema-info
      .image
      %p 28 апреля 2016 года в прокат вышел Альманах кинофестиваля «Короче» — 7 российских фильмов — победителей фестивалей прошлых лет. Альманах вышел в 35 городах России.
      %p Премьера альманаха прошла в кинотеатре Москва.

    .trailer
      .title Трейлер альматанаха «Короче»
      .video
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "", :src => "https://www.youtube.com/embed/gAFofQLxtN0?rel=0&showinfo=0", :width => ""}


= render 'application/footer'
