.b-festival-program
  .b-festival-program__top
    .headline
      %b Программа фестиваля
      %div КОРОЧЕ 2016

    .days-list.js-days-list
      .month Август
      .days-list__item.active.day-1
        .number 19
        .week-day пт

      .days-list__item.day-2
        .number 20
        .week-day сб

      .days-list__item.day-3
        .number 21
        .week-day вс


  .b-festival-program__content
    .b-schedule.day-1.active
      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 22:00
        .name Торжественное открытие и показ фильма «Родина». Представляют картину режиссёр Петр Буслов, продюсер Сергей Сельянов, актер Андрей Мерзликин.  Вход по пригласительным.
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Премьера короткометражного фильма «Шрёдер». В главной роли: Евгений Гришковец
        .place.with-placemark Центральный парк

    .b-schedule.day-2
      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 22:00
        .name Торжественное открытие и показ фильма «Родина». Представляют картину режиссёр Петр Буслов, продюсер Сергей Сельянов, актер Андрей Мерзликин.  Вход по пригласительным.
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Торжественное открытие и показ фильма «Родина». Представляют картину режиссёр Петр Буслов, продюсер Сергей Сельянов, актер Андрей Мерзликин.  Вход по пригласительным.
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Премьера короткометражного фильма «Шрёдер». В главной роли: Евгений Гришковец
        .place.with-placemark Центральный парк

    .b-schedule.day-3
      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Показ мультфильма «Три богатыря: ход конём»
        .place.with-placemark Центральный парк

      .b-schedule__row
        .time 19:30
        .name Премьера короткометражного фильма «Шрёдер». В главной роли: Евгений Гришковец
        .place.with-placemark Центральный парк

= render 'application/footer'
