.b-jury
  .headline
    %b Жюри фестиваля

  .b-members
    .b-members__person
      .image
      .name Игорь Толстунов
      .info Создатель и глава студии «ПРОФИТ». Продюсер более 50 фильмов и сериалов.

    .b-members__person
      .image
      .name Стас  Тыркин
      .info Кинокритик, программный директор фестиваля «Движение» (Омск), куратор программы кино «Гоголь-центра».

    .b-members__person
      .image
      .name Евгений Цыганов
      .info Актер театра и кино, обладатель премии «Золотой орел-2015» в номинации «Лучший актер на ТВ» за сериал Валерия Тодоровского «Оттепель».

    .b-members__person
      .image
      .name Олег Груз
      .info Cовременный поэт, актер, продюсер («Газгольдер: Фильм»)

    .b-members__person
      .image
      .name Жора Крыжовников
      .info Режиссер, сценарист, продюсер, обладатель премии «Ника-2014» в номинации «Открытие года» за фильм «Горько», обладатель Главного приза конкурса «Кинотавр. Короткий метр-2014 за короткометражку «Нечаянно».

    .b-members__person
      .image
      .name Дарья Екамасова
      .info Актриса театра и кино. Премия «Ника-2012» за «Лучшую женскую роль» в фильме Андрея Смирнова «Жила-была одна баба». Главная роль в картине Алексея Федорченко «Ангелы революции» («Лучшая режиссура на «Кинотавре-2015»).

    .b-members__person
      .image
      .name Эдуард Мошкович
      .info Оператор картин «Фарца» Валерия Тодоровского, «Рассказы» и «Кино про Алексеева» Михаила Сегала, а также короткометражки Михаила Сегала «Мир крепежа».

= render 'application/footer'
