.b-winners
  .headline
    %b Победители
    %div КОРОЧЕ 2016

  .b-winners__awards.best-film
    .b-winners__awards-item
      .icon
      .head Лучший фильм
      .name Ну, здравствуй, Оксана Соколова!
      .person Кирилл Васильев


  .b-winners__awards
    .b-winners__awards-item
      .icon
      .head Лучшая  режиссура
      .movie
        .name «Че»
        .person Ира Вилкова
    .b-winners__awards-item
      .icon
      .head Лучший  сценарий
      .movie
        .name Кредит
        .person Вадим Валиуллин
    .b-winners__awards-item
      .icon
      .head Специальный приз  от портала «КиноПоиск»
      .movie
        .name Ну, здравствуй, Оксана Соколова!
        .person Кирилл Васильев

  .b-winners__awards.special
    .b-winners__awards-item
      .icon
      .head Специальный приз жюри
      .film
        .with-wording с формулировкой «За американскую мечту»
        .name Расстаться с Дженни
        .person Петр Антохин
      .film
        .with-wording с формулировкой «За образец мужчины»
        .name Жираф
        .person Илья Силаев


    .b-winners__awards-item
      .icon
      .head Специальное упоминание жюри
      .film
        .name Мисс коммуникейшн 2016
        .person Александр Черноусов
      .film
        .name Весна, приходи
        .person Дарья Разумникова, Елизавета Клейнот
      .film
        .name И пришел паук
        .person Евгений Добророднов







= render 'application/footer'
