.b-festival-stage {
  height: 100vh;
  background: image_url('b-welcome/stage_works.jpg') no-repeat center / cover;

  @include media($tablet) {
    height: auto;
    padding-top: 75%;
  }

  &:after {
    z-index: 1;
    content: '';
    @include absolute(0 0 0 0);
    background: rgba(#000, .35);
  }

  .container {
    z-index: 2;
    @include absolute(0 0 0 0);
  }

  .action-section {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  .send-work {
    bottom: vw(45px);

    @include media($tablet) {
      bottom: 32px;
    }

    .info {
      margin-top: vw(20px);
      @include font-set(vw(16px), vw(21px), $play-italic);
      font-family: $play-font;
      font-style: italic;
    }
  }

  .report-video {
    top: 50%;
    transform: translateY(-50%);
    .play-video {
      display: inline-block;
      width: vw(70px);
      height: vw(70px);
      background: asset_data_url('icons/stage_play.svg') no-repeat center;
      background-size: vw(70px);
      cursor: pointer;
    }

    .info {
      margin-top: vw(10px);
      @include font-set(vw(20px), vw(27px), $rubik-bold);
      letter-spacing: vw(1.5px);
      text-transform: uppercase;
    }
  }

  &.show-now {
    height: auto;
    min-height: vw(460px);

    &:after { background: rgba(#000, .6); }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
