@import "import/base";

.b-name {
  @include absolute(35px false false 50px);
  width: 373px;
  @include font-set(38px, 51px, $play-italic);
  font-style: italic;
  font-family: $play-font;

  > b { font-weight: $play-italic-black; }

  .show-now & { left: 100px; }
}

.b-place {
  @include absolute(35px 48px false false);

  .year {
    margin-bottom: -8px;
    @include font-set(70px, 83px, $rubik-light);
    letter-spacing: 1px;
  }

  .date {
    @include  font-set(30px, 36px, $rubik-regular);
  }

  .city {
    @include font-set(24px, 32px, $play-italic-bold);
    font-family: $play-font;
    font-style: italic;
    letter-spacing: 1px;
  }
}
