.b-name {
  @include absolute(vw(35px) false false vw(50px));
  width: vw(373px);
  @include font-set(vw(38px), vw(51px), $play-italic);
  font-style: italic;
  font-family: $play-font;

  @include media($tablet) {
    width: 50%;
    left: 125px;
    top: 22px;
    font-size: 30px;
    line-height: 40px;
  }

  @include media($mobile) {
    width: auto;
    position: relative;
    margin: 0 auto 60px;
    padding: 0 10px;
    top: auto;
    left: 0;
    text-align: center;
    font-size: 28px;
    line-height: 37px;
  }

  > b { font-weight: $play-italic-black; }

  .show-now & {
    left: vw(100px);

    @include media($tablet) {
      left: 125px;
    }

    @include media($mobile) {
      left: 0;
    }
  }
}



.b-place {
  @include absolute(vw(35px) vw(48px) false false);

  @include media($tablet) {
    top: 22px;
    right: 32px;
  }

  @include media($mobile) {
    margin-bottom: 75px;
  }

  @include media($mobile) {
    position: relative;
    left: 0;
    top: auto;
    text-align: center;
  }

  .year {
    margin-bottom: vw(-8px);
    @include font-set(vw(70px), vw(83px), $rubik-light);
    letter-spacing: vw(1px);

    @include media($tablet) {
      font-size: 56px;
      line-height: 66px;
    }
  }

  .date {
    @include  font-set(vw(30px), vw(36px), $rubik-regular);
    
    @include media($tablet) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .city {
    @include font-set(vw(24px), vw(32px), $play-italic-bold);
    font-family: $play-font;
    font-style: italic;
    letter-spacing: vw(1px);

    @include media($tablet) {
      font-size: 20px;
      line-height: 27px;
    }
  }
}
