.b-festival-stage.video
  .l-page__content
    .b-name
      Фестиваль  короткометражного  кино
      %bold
        «Короче»

    .b-place
      .year
        2017
      .date
        19-21 / 08
      .city
        Калиниград

    .action-section
      = link_to 'Отправить фильм', '#', class: 'g-button g-button_bordered'
      .info
        Приём конкурсных работ 
        %br
        продлится до 20 июля 2017 года

