html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  //min-height: 100%;
  //-webkit-font-smoothing: subpixel-antialiased;
  //font-smoothing: subpixel-antialiased;

  //display: flex;
  //flex-direction: column;

  font-size: vw(14px);
  line-height: vw(22px);
  font-family: 'Rubik', sans-serif;

  cursor: default;
  background: #1A1A1A;
  color: #fff;
}


.l-page {
  overflow-y: hidden;
  min-height: 100%;

  &__content{
    margin-left: $sidebar-width;

    @include media($tablet) {
      margin-left: 0;
    }
  }

  .fade-layout {
    display: none;
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(#000, 0.7);

    @include media($tablet) { display: none; }

  }
}

.headline {
  display: table;
  margin: auto;
  @include font-set(vw(38px), vw(51px), $play-italic);
  font-family: $play-font;
  font-style: italic;
  text-align: center;

  @include media($tablet) {
    font-size: 30px;
    line-height: 40px;
  }

  > b {
    font-weight: $play-italic-bold;
  }

  @include both {
    position: absolute;
    top: vw(28px);
    width: vw(50px);
    height: vw(1px);
    background: $c-red;

    @include media($tablet) {
      top: 22px;
    }
  }

  &:before { left: vw(-80px); }
  &:after { right: vw(-80px); }

  > div {
    font-style: normal;
    @include font-set(vw(14px), vw(17px), $rubik-light);
    font-family: $rubik-font;
  }

  &.secondary {
    color: $c-red;

    @include both {
      background: #000;
    }
  }
}

.load-more {
  cursor: pointer;
}



//@include font-roboto($light "#{$light}italic" $regular "#{$regular}italic" $bold "#{$bold}italic");
//
//@include font-face($font-name_serif, 'bodoni');

//html {
//  font: #{$light} #{$font-size_base}/#{$line-height_base} $font-family_base;
//}

//body {
//  margin: 0;
//  padding: 0;
//  min-width: $desktop-width + $page-padding * 2;
//
//  @include media($tablet) {
//    min-width: $tablet-width + $page-padding * 2;
//  }
//
//  @include media($mobile) {
//    min-width: $mobile-full-width;
//  }
//
//  min-height: 100%;
//  background: $c-body;
//  color: $c-base;
//  cursor: default;
//  -webkit-font-smoothing: subpixel-antialiased;
//  font-smoothing: subpixel-antialiased;
//  @include display(flex);
//  @include flex-direction(column);
//}

//.l-page {
//  @include flex(1 0 0);
//  @include display(flex);
//  @include flex-direction(column);
//  &.with-fixed-popup {
//    height: 100%;
//    overflow: hidden;
//  }
//}

//.l-page__content {
//  @include flex(1 0 auto);
//  padding-bottom: 70px;
//  &.expeditor { padding-top: 70px; }
//
//  @include media($mobile) {
//    padding-bottom: 60px;
//  }
//}


//.l-center {
//  margin: 0 auto;
//  padding: 0 $page-padding;
//  box-sizing: content-box;
//  width: $desktop-width;
//
//  @include media($tablet) {
//    width: $tablet-width;
//  }
//
//  @include media($tablet-only) {
//    &.tablet-wide {
//      padding: 0 $page-padding + $tablet-wide-margin;
//      width: $tablet-width - $tablet-wide-margin * 2;
//    }
//  }
//
//  @include media($mobile) {
//    width: auto;
//  }
//}
//
//.l-mobile-center {
//  @include media($mobile) {
//    width: $mobile-width;
//    margin: 0 auto;
//  }
//}
