.l-popup-layout {
  display: none;
  z-index: 12;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(#000, 0.7);

  @include media($tablet) { display: none; }

  .b-popup {
    position: fixed;
    width: vw(480px);
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    bottom: 100px;
  }
}
