  .b-footer {
  margin: 0 vw(50px);
  padding: vw(20px) 0 vw(40px);
  border-top: vw(1px) solid rgba(#D8D8D8, .4);

  @include font-set(vw(16px), vw(19px), $rubik-light);

  .years {
    margin: vw(7px) 0 0 vw(15px);
    font-size: vw(13px);
    line-height: vw(15px);
    opacity: .5;
  }

  &.secondary {
    padding-bottom: vw(30px);

    .copyrights,
    .years {
      display: inline-block;
      vertical-align: bottom;
      margin-top: 0;
    }
  }
}
