$default: #fff;
$hovered: $c-red;

@mixin menu-item () {
  display: block;
  padding: 8px 30px;
  @include font-set(13px, 15px, $rubik-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $default;
  transition: color .15s ease;
}

.b-menu {
  margin-bottom: 25px;

  > .item {
    @include menu-item;

    &:hover {
      color: $hovered;
    }

    &.current {
      background: #740312;
      &:hover { color: $default; }
    }
  }

  &.festival {
    margin-bottom: 30px;

    > .item {
      &:hover {
        color: $default;
      }
    }
  }
}

.b-festival-menu {
  margin-bottom: 35px;

  .title { @include menu-item; }

  .b-menu {
    .item {
      padding-left: 50px;
      @include font-set(15px, 18px, $rubik-light);
      text-transform: none;

      &.buy-ticket {
        margin: 12px 0 0 30px;
        width: 136px;
        height: 42px;
        padding: 0;
        background: asset_data_url('b-sidebar/buy_ticket.svg') no-repeat center / cover;
        line-height: 42px;
        text-align: center;
        font-weight: $rubik-regular;
        transition: background-image .15s ease;

        &:hover {
          color: $default;
          background: asset_data_url('b-sidebar/buy_ticket_hover.svg') no-repeat center / cover;
        }
      }
    }
  }
}
