$default: #fff;
$hovered: $c-red;

.b-menu {
  margin-bottom: 25px;

  > .item {
    display: block;
    padding: 8px $sidebar-indent;
    @include font-set(13px, 15px, $rubik-medium);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $default;
    transition: color .15s ease;
    &:hover {
      color: $hovered;
    }

    &.current {
      background: #740312;
      &:hover { color: $default; }
    }
  }

  &.festival {
    margin-bottom: 30px;

    > .item {
      &:hover {
        color: $default;
      }
    }
  }
}


.b-submenu {
  > .item {
    display: block;
    margin: 12px 0;
    padding-left: 20px;
    @include font-set(15px, 18px, $rubik-light);
    text-transform: none;
    color: $default;
    transition: color .15s ease;

    &:hover { color: $hovered; }

    &.current {
      background: #740312;
      &:hover { color: $default; }
    }

    &.buy-ticket {
      width: 136px;
      height: 42px;
      padding: 0;
      background: asset_data_url('b-sidebar/buy_ticket.svg') no-repeat center / cover;
      line-height: 42px;
      text-align: center;
      font-weight: $rubik-regular;
      transition: background-image .15s ease;

      &:hover {
        color: $default;
        background: asset_data_url('b-sidebar/buy_ticket_hover.svg') no-repeat center / cover;
      }
    }
  }
}
