@import "import/base";

.b-menu {
  margin-bottom: 25px;

  > .item {
    display: block;
    padding: 8px $sidebar-indent;
    @include font-set(13px, 15px, $rubik-medium);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;


    &.current { background: #740312; }
  }

  &.festival { margin-bottom: 50px; }
}


.b-submenu {
  > .item {
    display: block;
    margin: 12px 0;
    padding-left: 20px;
    @include font-set(15px, 18px, $rubik-light);
    text-transform: none;
    color: #fff;
  }
}
