.b-sidebar-wrapper {
  z-index: 11;

  .mobile-trigger {
    display: none;
    position: absolute;
    z-index: 100;
    left: 30px;
    top: 30px;

    @include media($tablet) {
      display: block;
    }
  }
}

.b-sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  padding-top: $sidebar-indent;
  background: image_url('b-sidebar/sidebar_bg.png') no-repeat 0 0 / cover;

  @include media($tablet) {
    padding-top: 37px;
    left: -$sidebar-width;
    //transition: left .2s ease;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 $sidebar-indent 40px;


    .logo {
      margin-left: -5px;

      @include media($tablet) {
        margin-top: 78px;
      }
    }

    .lang-switcher {
      display: flex;

      &__item {
        padding: 4px 8px 2px;
        @include font-set(12px, 14px, $rubik-regular);
        font-family: $rubik-font;
        text-transform: uppercase;
        color: #fff;
      }

      .active { background: #5C030D; }
    }
  }

  > .socials {
    @include absolute(false false $sidebar-indent $sidebar-indent);
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
